:root {
  --primary-font: "JetBrains Mono", monospace;
  --text-font: "Lato", sans-serif;
  --primary-color: #001b17; /*  oklch(20% 0.05 180)*/

  --teal: teal; /*  oklch(50% 0.06 180); teal #396f64*/
  --light-teal: #d6f7ef; /*  oklch(95% 0.035 180) */
  --very-light-teal: #f5fefc; /* oklch(99% 0.01 180)*/

  --pink: #da7d9b; /* oklch(70% 0.12 0) */
  --light-pink: #ffe7ee; /* oklch(95% 0.035 360) */
  --very-light-pink: #fffafc; /* oklch(99% 0.01 0)*/

  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

::selection {
  background: var(--pink);
  color: #000;
}

body {
  background-color: var(--very-light-pink);
  color: var(--primary-color);
  text-align: center;
  font-family: var(--primary-font);
}

nav {
  background-color: var(--very-light-pink);
}

h2 {
  opacity: 0.8;
}

p {
  font-family: var(--text-font);
  font-size: larger;
  line-height: 1.5;
}

a {
  text-decoration-color: var(--pink);
  text-decoration-thickness: 2px;
  color: var(--primary-color);
}

a:hover {
  background: var(--pink);
  color: var(--secondary-color);
  text-decoration: none;
  transition: all 200ms ease-in-out;
}

ul {
  font-family: var(--text-font);
  margin-left: 1em;
}

li::marker {
  color: teal;
}

img {
  margin: 1em auto;
}

.my-brand {
  background: var(--light-teal);
  padding: 5px;
}

.one-page {
  height: 100vh;
}

.hero {
  height: 75vh;
  width: 100%;
  display: flex;
  flex-flow: column;
  justify-content: center;
}

.row {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: auto;
  margin-top: 2em;
  padding: 2em;
  border-radius: 0.5em;
  line-height: 1.5;
  max-width: 80ch;
  text-align: left;
  background: var(--light-pink);
}

.my-button {
  display: flex;
  margin-top: 40px;
  justify-content: center;
}

.my-button-one {
  font-size: 1rem;
  line-height: 3rem;
  color: white;
  background: teal;
  border: 1px solid teal;
  margin: 20px;
  border-radius: 10px;
  padding: 10px 20px;
  text-decoration: none;
}

.my-button-two {
  font-size: 1rem;
  line-height: 3rem;
  color: teal;
  border: 1px solid teal;
  margin: 20px;
  border-radius: 10px;
  padding: 10px 20px;
  text-decoration: none;
}

.my-button-one:hover,
.my-button-two:hover {
  color: white;
  background: var(--pink);
  border: 1px solid var(--pink);
  padding: 10px 20px;
  transition: all 200ms ease-in-out;
}

.contact-icons i {
  margin: 0.25em;
  font-size: 6vw;
}

.contact-icons i:hover,
.contact-icons a:hover {
  color: teal;
  background: transparent;
  transition: all 200ms ease-in-out;
}

.note {
  font-size: smaller;
  opacity: 0.8;
}

.coder {
  margin: 20px;
}

@media (max-width: 600px) {
  .row {
    margin: 0 auto;
    margin-top: 1em;
    padding: 1em;
  }

  .hero {
    height: 70vh;
  }
}
