:root {
  --mono-font: "JetBrains Mono", monospace;
  --text-font: "Lato", sans-serif;
  --text-color: #001b17; /*  oklch(20% 0.05 180)*/
  --background-color: #fffafc; /* oklch(99% 0.01 0)*/
  --card-background-color-rgb: 255, 255, 255;
  --accent-color-one: #da7d9b; /* oklch(70% 0.12 0) */
  --accent-color-one-rgb: 218, 125, 155; /* oklch(70% 0.12 0) */
  --accent-color-two: teal; /*  oklch(50% 0.06 180); teal #396f64*/
  --accent-color-two-rgb: 0, 128, 128;
  --brand-color: #d6f7ef; /*  oklch(95% 0.035 180) */
  /* --very-light-teal: #f5fefc; /* oklch(99% 0.01 180)*/
  /* --light-pink: #ffe7ee; /* oklch(95% 0.035 360) */
  /* --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3); */
}

:root .dark-theme {
  --text-color: #fffafc;
  --background-color: #001b17;
  --card-background-color-rgb: 0, 0, 0;
  --accent-color-one: teal;
  --accent-color-one-rgb: 0, 128, 128;
  --accent-color-two: #da7d9b;
  --accent-color-two-rgb: 218, 125, 155;
  --brand-color: transparent;
}

/*
@media (prefers-color-scheme: dark) {
  body {
    --text-color: #fffafc;
    --background-color: #001b17;
    --brand-color: teal;
  }
}
*/

::selection {
  background: var(--accent-color-one);
  color: #000;
}

body {
  background-color: var(--background-color);
  font-family: var(--text-font);
  color: var(--text-color);
  text-align: center;
  font-size: larger;
  line-height: 1.5;
}

.container {
  max-width: 80ch;
  display: block;
  margin: 0.25em auto;
}

nav {
  background-color: var(--background-color);
  margin-bottom: 10vh;
}

section {
  display: flex;
  flex-wrap: wrap;
  flex-flow: column wrap;
  align-items: flex-start;
  margin: auto;
  margin-top: 2em;
  padding: 1em;
  border-radius: 0.5em;
  line-height: 1.5;
  max-width: 60ch;
  text-align: left;
}

p {
  font-family: var(--text-font);
  line-height: 1.5;
}

hr {
  width: 100%;
  color: var(--accent-color-two);
}

a {
  text-decoration-color: var(--accent-color-one);
  text-decoration-thickness: 2px;
  color: var(--text-color);
}

a:hover {
  background: var(--accent-color-one);
  color: var(--text-color);
  text-decoration: none;
  transition: all 200ms ease-in-out;
}

.box a,
.box a:hover {
  text-decoration: none;
  background: transparent;
}

ul {
  display: block;
  font-family: var(--text-font);
  text-align: left;
  margin-left: 1em;
}

li::marker {
  color: var(--accent-color-two);
}

.my-brand {
  background: var(--brand-color);
  font-family: var(--mono-font);
  padding: 5px;
}

.hero {
  height: 70vh;
  width: 100%;
  display: flex;
  flex-flow: column;
  justify-content: center;
}

.box {
  border-color: rgba(var(--accent-color-one-rgb), 0.5);
  background-color: rgba(var(--card-background-color-rgb), 0.5);
  text-align: left;
}

.hero-button {
  display: flex;
  margin-top: 40px;
  justify-content: center;
  gap: 40px;
}

.button__primary-filled {
  color: var(--background-color);
  background: var(--accent-color-two);
}

.button__primary-outline {
  color: var(--accent-color-two);
  border: 1px solid var(--accent-color-two);
}

.button__primary {
  color: var(--text-color);
  background: var(--accent-color-one);
}

.button__primary:hover,
.button__primary-filled:hover,
.button__primary-outline:hover {
  color: var(--background-color);
  background: var(--accent-color-one);
  transition: all 200ms ease-in-out;
}

.icon__contact i {
  margin: 0.25em;
  font-size: 6vw;
}

.icon__contact i:hover,
.icon__contact a:hover {
  color: var(--accent-color-two);
  background: transparent;
  transition: all 200ms ease-in-out;
}

.note {
  font-size: smaller;
  opacity: 0.8;
}

.coder {
  margin: 20px;
  font-size: smaller;
}

.microlight {
  font-family: var(--mono-font);
  color: var(--accent-color-two);
  text-shadow: 0px 0px 9px rgba(var(--accent-color-two-rgb), 0.7), 0px 0px 2px rgba(var(--accent-color-two-rgb),0.4);
  white-space: pre;
}

@media (max-width: 600px) {
  .box {
    margin: 0 auto;
    margin-top: 1em;
    padding: 1em;
  }

  .hero {
    height: 70vh;
  }

  .icon__contact i {
    font-size: 25vw;
  }
}
