:root {
  --title-font: Harding, Palatino, serif;
  --mono-font: "JetBrains Mono", monospace;
  --text-font: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  --text-color: rgb(0, 0, 20); /*  oklch()*/
  --background-color: floralwhite;
  --card-background-color-rgb: 255, 250, 240;
  --accent-color-one: peachpuff;
  --accent-color-one-rgb: 255, 218, 185;
  --accent-color-two: steelblue;
  --accent-color-two-rgb: 70, 130, 180;
  --brand-color: transparent;
}

:root .dark-theme {
  --text-color: floralwhite;
  --background-color: rgb(0, 0, 20);
  --card-background-color-rgb: 0, 0, 20;
  --accent-color-one: steelblue;
  --accent-color-one-rgb: 70, 130, 180;
  --accent-color-two: peachpuff;
  --accent-color-two-rgb: 255, 218, 185;
  --brand-color: transparent;
}

/*
@media (prefers-color-scheme: dark) {
  body {
    --text-color: #fffafc;
    --background-color: #001b17;
    --brand-color: transparent;
  }
}
*/

::selection {
  background: var(--accent-color-one);
  color: #000;
}

body {
  background-color: var(--background-color);
  font-family: var(--text-font);
  color: var(--text-color);
  text-align: center;
  font-size: larger;
  line-height: 1.5;
}

.container {
  max-width: 80ch;
  display: block;
  margin: 0.25em auto;
}

nav {
  background-color: var(--background-color);
  margin-bottom: 10vh;
}

section {
  display: flex;
  flex-wrap: wrap;
  flex-flow: column wrap;
  align-items: flex-start;
  margin: auto;
  margin-top: 2em;
  padding: 1em;
  border-radius: 0.5em;
  line-height: 1.5;
  max-width: 60ch;
  text-align: left;
}

p {
  font-family: var(--text-font);
  line-height: 1.5;
}

hr {
  width: 100%;
  color: var(--accent-color-two);
}

a {
  text-decoration-color: var(--accent-color-one);
  text-decoration-thickness: 2px;
  color: var(--text-color);
}

a:hover {
  background: var(--accent-color-one);
  color: var(--text-color);
  text-decoration: none;
  transition: all 200ms ease-in-out;
}

.box a,
.box a:hover {
  text-decoration: none;
  background: transparent;
}

ul {
  display: block;
  font-family: var(--text-font);
  text-align: left;
  margin-left: 1em;
}

li::marker {
  color: var(--accent-color-two);
}

.serif-font {
  font-family: var(--title-font);
}

.hero {
  height: 60vh;
  width: 100%;
  display: flex;
  flex-flow: column;
  justify-content: center;
}

.box {
  border-color: transparent;
  background-color: transparent;
  text-align: left;
}

.hero-button {
  display: flex;
  margin-top: 40px;
  justify-content: center;
  gap: 40px;
}

.button__primary-filled {
  color: var(--background-color);
  background: var(--accent-color-two);
}

.button__primary-outline {
  color: var(--accent-color-two);
  border: 1px solid var(--accent-color-two);
}

.button__primary {
  color: var(--text-color);
  background: var(--accent-color-one);
}

.button__primary:hover,
.button__primary-filled:hover,
.button__primary-outline:hover {
  color: var(--background-color);
  background: var(--accent-color-one);
  transition: all 200ms ease-in-out;
}

.icon__contact i {
  margin: 0.25em;
  font-size: 5vw;
}

.icon__contact i:hover,
.icon__contact a:hover {
  color: var(--accent-color-two);
  background: transparent;
  transition: all 200ms ease-in-out;
}

.note {
  font-size: smaller;
  opacity: 0.8;
}

.coder {
  margin: 20px;
  font-size: smaller;
}

.microlight {
  font-family: var(--mono-font);
  color: var(--accent-color-two);
  text-shadow: 0px 0px 9px rgba(var(--accent-color-two-rgb), 0.7),
    0px 0px 2px rgba(var(--accent-color-two-rgb), 0.4);
  white-space: pre;
}

@media (max-width: 600px) {
  .box {
    margin: 0 auto;
    margin-top: 1em;
    padding: 1em;
  }

  .icon__contact i {
    font-size: 25vw;
  }
}
